div(class="game-info-container")
  div(class="img-div")
    img(class='gameImage-info' src= game.imgURL)
    if gameshelves
      select(class='game-shelf-dropdown')
        each shelf in gameshelves
          option(data-id=shelf.id data-gameid=game.id value=shelf.name) #{shelf.name}
      button(class='add-to-game-shelf-button') Add
  div(class="game-content")
    div(class="header-and-status")
      div(class="game-header")
        h2(class='game-info-header') #{game.name}
        span(class='releaseDate') Release Date: #{game.releaseDate.toLocaleDateString()}
        span(class='developer') By #{game.developer}
        div(class="rating") 3.5/5
      div(class="played-status")
        ul(class="played-status-list")
          if authenticated
            each shelf in ownedShelves
              li= shelf
    p(class='game-info-description') #{game.description}
    form(action=`/games/${game.id}/reviews/new` method='get' class='review-form')
      button(class="review-button-redirect") Add Review
