extends layout

append head
  link(rel="stylesheet" href="/stylesheets/gameshelves.css")
  if authenticated
    script(src="/javascripts/gameshelf-add.js")
block content
  h1(class="page-header") Gameshelves
  div(class="outer-container")
    div(class="shelf-list-container")
      h2(class="shelf-list-header") My Shelves
      a(class="shelf-link" href=`/gameshelves`) All (#{allUserGames.length})
      ul(class="shelf-list")
        each shelf in shelves
          a(href=`/gameshelves/${shelf.id}`): li(class="shelf-link") #{shelf.name} (#{shelf.Games.length})
      form(action ="/gameshelves/new" method="post" class="new-shelf")
        h1(class="shelf-new-header") Add a New Shelf:
        input(class="shelf-input" type=text name="shelfName")
        button(class="shelf-button") Create
    div(class="gameshelf-games-container")
      ul(class="gameshelf-games")
        each game in allUserGames
          include game-small-card.pug
    div(class="empty-box")
