
div(class="game-info-container" data-gameId= game.id)
  div(class="img-div")
    a(class="game-link" href=`/games/${game.id}`): img(class='gameImage-info' src= game.imgURL)
    if game.rating === null 
      div(class="rating") Rating: Unrated 
    else
      div(class="rating") Rating: #{game.rating}/5
  div(class="game-content")
    a(class="game-link" href=`/games/${game.id}`): h2(class='game-info-header') #{game.name}
    span(class='releaseDate') Release Date: #{game.releaseDate.toLocaleDateString()}
    span(class='developer') Developer: #{game.developer}
