div(class="review-container")
  div(class="header")
    h2(class="reviews-title") Reviews
    table(class="review-table")
      tr
        th Username
        th Comment
        th Rating
      each review in reviews
        tr(class="review-comment")
          th(class="review-userId") #{review.userId}
          th(class="review-content") #{review.content}
          th(class="review-rating") #{review.rating}





//- Create a box for the container
      Inside the container, create another div that will be a colum
        inside the row div, create another div that will be a row containing the review content and rating
//- div(class="review-list")
//-   each review in reviews
//-     p(class="content") #{review.content} #{review.rating}
          th Username: #{reviews.userId}
          th Content: #{reviews.content}
          th Rating: #{reviews.rating}
