extends layout

append head
    link(rel="stylesheet" href="/stylesheets/review.css")


block content


  div(class="review-container")
    form(action=`/games/${games.id}/review/new` method="post" class="review-form")
      if errors
          div(role='alert')
            p The Following errors occurred:
            ul
              each error in errors
                li= error
      div(class="top-row")
        div(class="img-div")
          img(class="game-img" src= games.imgURL)
          div(class="rating") 5/5
        div(class="game-content")
          h2(class='game-title') #{games.name}
          span(class='releaseDate') Release Date: #{games.releaseDate.toLocaleDateString()}
          span(class='developer') Developer: #{games.developer}
      div(class="bottom-row")
        div(class="review-field")
          h1(class="review-welcome") Give us your review
          textarea(class="review-box" name="content" value=review.content)
          button(class="review-submit") Submit