extends layout.pug

block content
  form(action="/signup" method="post")
    if errors
      div(role='alert')
        p The Following errors occurred:
        ul
          each error in errors
            li= error
    input(type="hidden" name="_csrf" value=csrfToken)
    label(for="username") Username
    input(type="text" name="username" value=user.username)
    label(for="firstName") First Name
    input(type="text" name="firstName" value=user.firstName)
    label(for="lastName") Last Name
    input(type="text" name="lastName" value=user.lastName)
    label(for="password") Password
    input(type="password" name="password")
    button Sign Up
