div(class="user-review-container")
  div(class="top-row")
    h2(class="user-reviews-title") Your Review
    form(action=`/games/${game.id}/reviews/new` method='get' class='edit-review-button')
      button(class="edit-review-button") Edit
    form(action=`/games/${game.id}/reviews/new` method='get' class='delete-review-button')
      button(class="delete-review-button") Delete
  div(class="bottom-row")
    table(class="user-review-table")
      tr
        th Username
        th Comment
        th Rating
      each review in reviews
        tr(class="review-comment")
          th(class="review-userId") #{user.username}
          th(class="review-content") #{review.content}
          th(class="review-rating") #{review.rating}
